name: Build Binary 
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Build version"
        required: true 
        type: string 
env:
  GO_VERSION: 1.17
concurrency: build 
permissions:
  id-token: write
  contents: read 
defaults:
  run:
    shell: bash 
jobs:
  compile-windows: 
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        machines: [amd64, 386]
    steps: 
      - uses: actions/checkout@v3 
      - name: Configure Golang 
        uses: actions/setup-go@v2 
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Set Machine Type 
        run: |
          echo "GOOS=windows" >> $GITHUB_ENV
          echo "GOARCH=${{ matrix.machines }}" >> $GITHUB_ENV
      - name: Build 
        run: go build -o bin/windows/${{ matrix.machines }}/tfstate -ldflags "-X main.version=${{ inputs.version }}"
      - uses: actions/upload-artifact@master 
        with:
          name: tfstate-${{ inputs.version }}
          path: bin

  compile-darwin:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        machines: [amd64, arm64]
    steps: 
      - uses: actions/checkout@v3 
      - name: Configure Golang 
        uses: actions/setup-go@v2 
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Set Machine Type 
        run: |
          echo "GOOS=darwin" >> $GITHUB_ENV
          echo "GOARCH=${{ matrix.machines }}" >> $GITHUB_ENV
      - name: Build 
        run: go build -o bin/darwin/${{ matrix.machines }}/tfstate -ldflags "-X main.version=${{ inputs.version }}"
      - uses: actions/upload-artifact@master 
        with:
          name: tfstate-${{ inputs.version }}
          path: bin
